/** Configuração geral da página
**************************************************************************************/

body {

    /** Muda a cor do fundo da página **/
    background-color: rgb(206,139,84);

    /** Fonte **/
    font-family: Candara, Helvetica, sans-serif; 

    /** Margem zerada **/
    margin: 0;
}
